.rowFlex {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 895px;
}

.imageContainer {
    width: 70%;
}

.centeredFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
